.container {
  width: 100vw;
  height: 100vh;

  background-color: #a197c5;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
}

.info img + img {
  width: 5rem;
  margin-bottom: 2rem;
}

.info img {
  width: 300px;
  margin: 0.1rem auto;
}

.info h1 {
  margin: 0 auto 3rem;
  color: rgb(155, 160, 95);
}

.container a {
  width: 20%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;

  border-radius: 0.5rem;
  background-color: #7159c1;
  transition: opacity 700ms;
}

.container a:hover {
  opacity: 0.8;
}
